# Google Auth Client ID (uzyskany z Google Cloud Console)
GOOGLE_CLIENT_ID=your-google-client-id-here.apps.googleusercontent.com

# Ustawienia serwera
PORT=3000

# Adresy baz danych dla środowiska lokalnego (poza Dockerem / w Dockerze)
# Dla Dockera te zmienne są nadpisywane w docker-compose.yml
REDIS_URL=redis://localhost:6379
FIRESTORE_EMULATOR_HOST=localhost:8080
FIRESTORE_PROJECT_ID=gwiezdny-kupiec-dev
